<div id="movieCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for cardImage in cardImages %}
            {% if cardImage.url is not null %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="d-block w-100 img-fluid" src="{{ asset(cardImage.url) }}" alt="{{ movie.headline }}">
                    <div class="carousel-caption d-none d-md-block">
                        <p>{{ cardImage.w }} x {{ cardImage.h }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#movieCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#movieCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>