<footer class="bg-light">
    <div class="container text-center">
        <a href="https://www.linkedin.com/in/mihai-caragheorghiev-90439769/">
            <img width="32" height="32" src="{{ asset('/linkedin-round.png') }}" alt="linkedin"/>
            <span class="text-muted">Mihai Caragheorghiev</span>
        </a>
    </div>
</footer>