<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">
        <img src="{{ asset('mindgeek-logo.png') }}" class="d-inline-block align-top" alt="mindgeek-logo">
        <span class="nav-text">Mihai Caragheorghiev</span>
    </a>
</nav>