.navbar {
    margin-top: 5px;
    height: 100px;
}
.nav-text {
    height: 100px;
    line-height: 80px;
    text-align: center;
}
.navbar-brand img {
    height: 20%;
    width: 20%;
}

footer {
    margin-top: 50px;
    padding: 20px;
}